.primary {
    color: #008080;
}
.primary-bg {
    background-color: #008080;
    color: #fbfbfc;
}
.secondary-bg {
    background-color: #cfe6e6;
}
.background {
    background-color: #fbfbfc;
}
