body{
    padding-top: 84px;
}

header {
    padding: 24px 0 12px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .header-wrapp {
        margin: 0 auto;
        width: fit-content;
        display: flex;
        img {
            margin: 0 6px;
        }
        h1 {
            margin: 0 6px;
            padding: 12px;
            border-radius: 12px;
        }
    }
}

.subject-name {
    margin: 12px auto;
    padding: 0 12px;
    width: fit-content;
    border-radius: 18px;
}

.unit-cards {
    margin: 0 auto;
    max-width: 500px;  
}
.unit-card {
    margin: 12px;
    padding: 12px;
    box-shadow: 2px 2px #008080;
    border-radius: 12px;
    .file-name {
        margin: 6px;
        display: flex;
        p {
            margin-right: 24px;
        }
        .download-button {
            display: flex;
            :hover {
                background-color: #fbfbfc;
            }
            a {
                margin: 0 6px;
                text-decoration: none;
                border-radius: 18px;
                display: flex;
                img {
                    margin: 4.5px;
                    border-radius: 18px;
                }
                p {
                    margin-right: 12px;
                    color: #606060;
                    border-radius: 18px;
                }
            }
        }
    }
    hr {
        height: 1px;
        border: none;
    }
}
