body {
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
}
.title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}
.head-text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}
.regular-text {
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
}
.small-text {
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
}
